.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: 100%;
}
.dialogs__inner {
    padding: 10px;
    background-color: lightseagreen;
}

.messages {
    padding: 10px;
    background-color: lightsteelblue;
}

